
.menu {
  background-color: $uoc-corporate;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 5px 0;
  text-align: center;
  transition: background-color 0.3s;

  &__navigation {
      display: flex;
      justify-content: space-around;
  }

  &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
  }

  &__item {
      margin: 0 15px;
      padding: 0.5rem;
      border-radius: 5px;
  }

  &__link {
      text-decoration: none;
      color: #fff;
      transition: color 0.3s;

      &:hover {
          color: $uoc-masterbrand;
      }
  }

  @media (max-width: 768px) {
      &__navigation {
          flex-direction: column;
          align-items: center;
      }

      &__list {
        display: block;
      }
  }

  /* Estilo para la sección activa en el menú */
  &__item--active {
      background-color: #333;
  }
}
