.recipes {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.nav--tabs {
    margin-top: 20px;
    list-style-type: none;
    cursor: pointer;

    .nav-link {
        color: $uoc-corporate;
        text-decoration: none;
        border: #333;

        &:hover {
            color: #007bff; 
        }

        &--active {
            font-weight: bold;
        }
    }
}

.tab-pane {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: none;

    &--active {
        display: block;
    }
}

h3.tab-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.recipe-list {
    list-style: none;
    padding: 0;
}

.recipe {
    margin-bottom: 5px;
}
