<footer class="footer">
    <div class="footer__content">
        <img class="footer__logo" src=".\assets\images\logo.png" alt="UOC logo">
        <div class="footer__text">
            <p class="footer__copyright">&copy; Leopoldo Gallardo Sedeño</p>
            <a href="https://github.com/poldogs" target="_blank" class="footer__link"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/leopoldo-gallardo-sedeno/" target="_blank" class="footer__link"><i class="fab fa-linkedin"></i></a>
            <p class="footer__university">Universitat Oberta de Catalunya</p>
        </div>
    </div>
</footer>
