<header class="menu">
    <nav class="menu__navigation">
        <ul class="menu__list">
            <li class="menu__item menu__item--active"><a class="menu__link" href="#section-1">Sección 1</a></li>
            <li class="menu__item"><a class="menu__link" href="#section-2">Sección 2</a></li>
            <li class="menu__item"><a class="menu__link" href="#section-3">Sección 3</a></li>
            <li class="menu__item"><a class="menu__link" href="#section-4">Sección 4</a></li>
            <li class="menu__item"><a class="menu__link" href="#section-5">Sección 5</a></li>
        </ul>
    </nav>
</header>
