<header class="menu">
    <nav class="menu__navigation">
        <ul class="menu__list">
            <li class="menu__item menu__item--active"><a class="menu__link" href="#section-1">Introducción</a></li>
            <li class="menu__item"><a class="menu__link" href="#section-2">Recetas</a></li>
            <li class="menu__item"><a class="menu__link" href="#section-3">Consejos</a></li>
            <li class="menu__item"><a class="menu__link" href="#section-4">Utensilios</a></li>
            <li class="menu__item"><a class="menu__link" href="#section-5">Testimonios</a></li>
        </ul>
    </nav>
</header>
