<section id="section-1" class="intro-section">
  <div class="introduction-content">
      <img src="./assets/images/intro.gif" alt="ratatouille" class="intro-image">
      <div class="intro-text">
        <h1 class="intro-title">COCINAR</h1>
        <p class="intro-paragraph">
          La cocina es mi hobby favorito. Me relaja y me permite ser creativo. El Airfryer es mi mejor amigo en la cocina, haciendo todo más fácil. Además, compartir las comidas que preparo con amigos y familiares es una fuente de alegría. 
          Cocinar es mi forma de escapar del estrés diario y disfrutar de momentos especiales en la mesa.
        </p>
      </div>
  </div>
</section>
