<section id="section-5">
    <div class="testimonials-container">
        <div class="testimonial">
            <div class="testimonial-background" style="background-image: url('./assets/images/testimonial1.jpeg');">
                <p class="testimonial-text">"Leopoldo cocina de manera excepcional. ¡Estoy impresionado!"</p>
                <p class="testimonial-author">- Juan Pérez</p>
            </div>
        </div>

        <div class="testimonial">
            <div class="testimonial-background" style="background-image: url('./assets/images/testimonial2.jpeg');">
                <p class="testimonial-text">"Leopoldo realmente sabe cómo cocinar. ¡Sus platos son deliciosos!"</p>
                <p class="testimonial-author">- María Gómez</p>
            </div>
        </div>

        <div class="testimonial">
            <div class="testimonial-background" style="background-image: url('./assets/images/testimonial3.jpeg');">
                <p class="testimonial-text">"Leopoldo crea magia en la cocina. ¡Cada comida es una obra maestra!"</p>
                <p class="testimonial-author">- Carlos Rodríguez</p>
            </div>
        </div>

        <div class="testimonial">
            <div class="testimonial-background" style="background-image: url('./assets/images/testimonial4.jpeg');">
                <p class="testimonial-text">"Leopoldo es un chef extraordinario. ¡Cada bocado es un placer!"</p>
                <p class="testimonial-author">- Ana López</p>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button class="prev-button"><i class="fa-solid fa-arrow-left"></i></button>
        <button class="next-button"><i class="fa-solid fa-arrow-right"></i></button>
    </div>
</section>
