<section id="section-5">
<div class="testimonials-container">
    <div class="testimonial">
        <div class="testimonial-background" style="background-image: url('./assets/images/testimonial1.jpeg');"></div>
        <p class="testimonial-text">"¡Increíble servicio! Estoy muy satisfecho."</p>
        <p class="testimonial-author">- Juan Pérez</p>
    </div>
    <div class="testimonial">
        <div class="testimonial-background" style="background-image: url('./assets/images/testimonial2.jpeg');"></div>
        <p class="testimonial-text">"El producto superó mis expectativas. ¡Gracias!"</p>
        <p class="testimonial-author">- María Gómez</p>
    </div>
    <div class="testimonial">
        <div class="testimonial-background" style="background-image: url('./assets/images/testimonial3.jpeg');"></div>
        <p class="testimonial-text">"Nunca he tenido un servicio tan rápido y confiable."</p>
        <p class="testimonial-author">- Carlos Rodríguez</p>
    </div>
    <div class="testimonial">
        <div class="testimonial-background" style="background-image: url('./assets/images/testimonial4.jpeg');"></div>
        <p class="testimonial-text">"La atención al cliente es excepcional. ¡Muy recomendado!"</p>
        <p class="testimonial-author">- Ana López</p>
    </div>
</div>
<button class="prev-button">&#9665;</button>
<button class="next-button">&#9655;</button>
</section>