<section id="section-3" class="consejos-cocina">
    <div class="background-image">
    </div>
    
    <div class="consejos-content">
        <h2>Consejos de Cocina</h2>
        <ul>
            <li><i>"Prueba tus comidas mientras las haces para poder ajustar el sabor a medida que avanzas en la preparación."</i></li>
            <li><i>"La cebolla caramelizada se logra sin necesidad de añadir azúcar, simplemente cocínala hasta que esté bien pochada y adquiera ese delicioso sabor dulce."</i></li>
            <li><i>"Aprovecha el tiempo de camino al trabajo para marinar tus alimentos y potenciar su sabor antes de cocinarlos."</i></li>
            <li><i>"El sofrito, compuesto por cebolla, zanahoria, pimientos y otros ingredientes, es la base de un buen plato y añade profundidad y sabor a tus recetas."</i></li>
            <li><i>"Limpia mientras cocinas para evitar que el desorden se acumule y hacer la limpieza más fácil al final."</i></li>
            <li><i>"Ten cuidado al dorar el ajo picado, ya que se cocina muy rápido y puede quemarse si no lo vigilas."</i></li>
            <li><i>"Si deseas rallar el queso de manera más sencilla, puedes congelarlo previamente para que sea más manejable."</i></li>
            <li><i>"Para pelar ajos fácilmente, mételos en el microondas durante unos segundos, lo que facilitará el proceso de pelado."</i></li>
          </ul>          
    </div>
</section>
