<section id="section-4" class="center-section">
    <h2>Los que no pueden faltar en mi cocina</h2>
<div class="tool">
    <img src="./assets/images/olla.png" alt="olla">
    <div class="tool-details">
        <h3>Olla</h3>
        <p>La olla es esencial en mi cocina. Me permite cocinar guisos, sopas y otros platos deliciosos de manera rápida y sencilla. Su capacidad y durabilidad son invaluables.</p>
        <a href="https://acortar.link/LUT6Ok" class="buy-button" target="_blank">Comprar en <i class="fa-brands fa-amazon"></i></a>
    </div>
</div>

<div class="tool">
    <img src="./assets/images/batidora.png" alt="batidora">
    <div class="tool-details">
        <h3>Batidora</h3>
        <p>La batidora es una herramienta versátil que utilizo para mezclar ingredientes, hacer batidos y preparar postres deliciosos. Su potencia y múltiples accesorios son ideales.</p>
        <a href="https://acortar.link/gvAUVS" class="buy-button" target="_blank">Comprar en <i class="fa-brands fa-amazon"></i></a>
    </div>
</div>

<div class="tool">
    <img src="./assets/images/airfryer.png" alt="airfryer">
    <div class="tool-details">
        <h3>Airfryer</h3>
        <p>El airfryer me permite cocinar alimentos de manera más saludable al usar menos aceite. Puedo preparar deliciosas papas fritas y aperitivos sin sentirme culpable.</p>
        <a href="https://acortar.link/OvdvoR" class="buy-button" target="_blank">Comprar en <i class="fa-brands fa-amazon"></i></a>
    </div>
</div>
</section>