<section id="section-4">
<div class="tool">
    <img src="./assets/images/olla.png" alt="olla">
    <div class="tool-details">
        <h2>Olla</h2>
        <p>La olla es esencial en mi cocina. Me permite cocinar guisos, sopas y otros platos deliciosos de manera rápida y sencilla. Su capacidad y durabilidad son invaluables.</p>
        <a href="enlace_olla_amazon" class="buy-button">Comprar en Amazon</a>
    </div>
</div>

<div class="tool">
    <img src="./assets/images/batidora.png" alt="batidora">
    <div class="tool-details">
        <h2>Batidora</h2>
        <p>La batidora es una herramienta versátil que utilizo para mezclar ingredientes, hacer batidos y preparar postres deliciosos. Su potencia y múltiples accesorios son ideales.</p>
        <a href="enlace_batidora_amazon" class="buy-button">Comprar en Amazon</a>
    </div>
</div>

<div class="tool">
    <img src="./assets/images/airfryer.png" alt="airfryer">
    <div class="tool-details">
        <h2>Airfryer</h2>
        <p>El airfryer me permite cocinar alimentos de manera más saludable al usar menos aceite. Puedo preparar deliciosas papas fritas y aperitivos sin sentirme culpable.</p>
        <a href="enlace_airfryer_amazon" class="buy-button">Comprar en Amazon</a>
    </div>
</div>
</section>